<form ng-submit="vm.register(regForm)" name="regForm" class="form">
    <h2 class="text-center">Авторизироваться</h2>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" required ng-model="vm.userdata.email" id="email"/>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="email" class="form-control" required ng-model="vm.userdata.password" id="password"/>
    </div>
    <div class="text-center">
        <input type="submit" value="Зарегистрироваться">
    </div>
</form>