<div style="padding: 20px;">
    <h3 ng-bind='vmAdd.isNew ? "Добавление пользователя" : "Редактирование пользователя (" + vmAdd.user.email + ")"'></h3>
    <form ng-submit="vmAdd.save(addForm)" name="addForm">
        <div class="form-group">
            <label>Имя: </label>
            <input type="text" ng-model="vmAdd.user.username" class="form-control">
        </div>
        <div class="form-group ng-hide" ng-show="vmAdd.isNew">
            <label>E-mail: </label>
            <input type="email" ng-model="vmAdd.user.email" class="form-control">
        </div>
        <div>
            <p>Доступ к дашбордам:</p>
            <ul class="list-unstyled">
                <li ng-repeat="dashboard in vmAdd.dashboards track by $index">
                    <div class="checkbox">
                    <label><input type="checkbox" ng-model="dashboard.selected"> {{dashboard.name}}</label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-default">Сохранить</button>
        </div>
    </form>
</div>