<div class="col-md-8">
<uib-tabset active="vmGraph.activeDashBoard">
    <uib-tab index="($index + 1)" ng-click="vmGraph.updateWidgetList()" heading="{{dashboard.name}}"
             ng-repeat="dashboard in vmGraph.dashboards track by $index">
        <div class="row">
            <ul class="list-unstyled clearfix" style="margin-top: 30px;">
                <li ng-repeat="widget in vmGraph.widgets track by $index">
                    <div class="col-md-8">
                        <dl class="dl-horizontal">
                            <dt>Запрос</dt>
                            <dd ng-bind="widget.query"></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Тип</dt>
                            <dd ng-bind="vmGraph.types[widget.diagram_type]"></dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <button ng-click="vmGraph.edit($parent.$index, $index)" class="btn btn-default">Редактировать
                        </button>
                        <button ng-click="vmGraph.remove($index)" class="btn btn-default">Удалить</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="text-center">
            <button ng-click="vmGraph.add($parent.$index)" class="btn btn-default">Добавить</button>
        </div>
    </uib-tab>
</uib-tabset>
</div>
<div class="col-md-4">
    <div class="row text-right">
        <p><button class="btn btn-primary" ng-click="vmGraph.addDashboard()">Добавить дашборд</button></p>
        <p><button class="btn btn-default" ng-click="vmGraph.editDashboard()">Изменить имя дашборда</button></p>
        <p><button class="btn btn-danger" ng-click="vmGraph.removeDashboard()">Удалить дашборд</button></p>
    </div>
</div>